!!! XML
%html
  %head
    %title glitchtweet
    %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
    %link{:rel => 'apple-touch-icon', :href => "#{app_root}/img/icon.png"}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/fonts-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/reset-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/jquery.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/tiny_segmenter-0.1.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/glitchtext.js"}
    %script{:type => 'text/javascript', :src => "#{app_root}/js/main.js"}
    :javascript
      var app_root = "#{app_root}";
  %body
    %div#content
      %h1 glitchtweet
      %div#twitter
        %div#login
          - unless auth?
            %a{:href => "#{app_root}/login"} [login twitter]
          - else
            %img{:src => session[:twitter_icon]}
            %a{:href => "http://twitter.com/#{session[:twitter_name]}", :target => '_blank'}
              @#{session[:twitter_name]}
            &nbsp;|&nbsp;
            %a{:href => "#{app_root}/logout"} [logout]
      %div
        %textarea{:id => 'source'}
          ここに書いたテキストがglitchされます
      %div
        %div.button#glitch glitch
      %div
        %div#result
        %div#count
      %div#controls
        %div.button#tweet tweet
      %div#log
